<h1> Login </h1>
  <div class="field">
    <%= form_tag('/login') do %>

      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <br />

      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br />

      <%= submit_tag "Login" %>

      <% end %>
      <%= button_to "Return to Welcome Page", welcome_path, method: :get %>
</div>

<div class="google auth">
  <%= form_tag('/auth/google_oauth2') do %>
  <%= submit_tag "Login with Google" %>
  <% end %>

</div>
