
<div class="field">
<h1> Welcome </h1>

  <% if logged_in_admin? %>

     <span>Hi, <%= current_admin.name %>! </span>
     <br />
     <br />
     <%= button_to "Your Dashboard", admin_dashboard_path, method: :get %>

  <% elsif logged_in_user? %>
     <span>Hi,  <%= current_user.name %>! </span>
     <br />
     <br />
     <%= button_to "Your Dashboard", dashboard_path, method: :get %>
  <% else %>
  <h1> Please log in or sign up </h1>
  <%= button_to "Login", login_path, method: :get %>

<%= button_to "Sign Up", signup_path, method: :get %>  

<%= button_to "Admin Signup", new_admin_path, method: :get %>
<%= button_to "Admin Login", login_path, method: :get %>

  <% end %>
<br />
<br />






  <div id="Org Info">
  <br />
  <br />
    Phone Number: 
      <br />
    
    Email address:
    <br />
    Motto:
    <br />
    Logo:
    
    <br />
  </div>
</div>

