<br />
<br />
<br />
This is the new appointments for admins to use
  <br />

  <br />
<%= render partial: "/errors", locals: {obj: @admin_appt} %>


  <%= form_for(@admin_appt, url: admins_appointments_path) do |f| %>

    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
      <br />

      <%= f.label :appt_datetime %>
      <%= f.datetime_local_field :appt_datetime %>
      <br />

      <%= f.label :comments %>
      <%= f.text_area :comments %>
      <br />
    </div>
    <div class="field">
    <span> Sisters' </span>

      <%= f.fields_for(:users) do |user_form| %>
      <%= user_form.label :name %>
      <% end %>  
      <%= f.collection_select :user_id, User.all, :id, :name %>
    </div>
    <br />
    <%= f.submit %>
  <% end %>