<% if current_user %>
<h1>Welcome, <%= current_user.name %>. </h1>

<%= button_to "Return to Welcome Page", welcome_path, method: :get %>
<h4>This is your dashboard to view all of your appointments as well as your toolkit.</h4>
<%= button_to "Edit Sister's Information", edit_user_path, method: :get %>
<% end %>

<h2> Appointments </h2>

<% if current_admin %>
<%= button_to "Create a new Appointment", new_admins_appointment_path, method: :get %>
<% elsif current_user %>
<%= button_to "Create a new Appointment", new_appointment_path, method: :get %>
<% end %>

<h4> The following is a list of your scheduled appointments: </h4>

<% if current_admin %>
 <% current_admin.appointments.each do |a| %>
  <br />
  <%= link_to a.location, appointment_path(a) %>
  <br />
  <%= a.appt_datetime %>
  <br />
  <%= a.comments %>
   <br />
   <br />
  <% end %>
  <% elsif current_user && current_user.appointments != nil %>
  <% current_user.appointments.each do |a| %>
  <br />
  <%= link_to a.location, appointment_path(a) %>
  <br />
  <%= a.appt_datetime.to_formatted_s(:long) %>
  <br />
  <%= a.comments %>
   <br />
     <br />

  <% end %>

  <br />
  <% else %>

<%= button_to "Create a Appointment", new_appointment_path, method: :get %>

  <% end %>
 <br />
<h2> Toolkit </h2>
<% if current_user && current_user.toolkit != nil %>
  <label> Legal: </label>
  <%= current_user.toolkit.legal %>
  <br />
  <label> Documents: </label>
  <%= current_user.toolkit.documents %>
  <br />
  <label> Employment: </label>
  <%= current_user.toolkit.job %>
  <br />
  <label> Housing: </label>
  <%= current_user.toolkit.housing %>
  <br />
  <label> Financial: </label>
  <%= current_user.toolkit.financial %>
  <br />
  <label> Childcare: </label>
  <%= current_user.toolkit.childcare %>
  <br />
  <label> Health: </label>
  <%= current_user.toolkit.health %>
  <br />
  <%= button_to "Edit your Toolkit", edit_toolkit_path, method: :get %>
  <% elsif current_user %>
  <%= "You can now create a toolkit" %>
<%= button_to "Create a Toolkit", new_toolkit_path, method: :get %>
<% elsif current_admin %>
<%= button_to "Create a Toolkit", new_admins_user_toolkit_path(@user.id), method: :get %>
  <% end %>
<% if current_admin %>
 <%= button_to "Back to your Dashboard", admin_dashboard_path, method: :get %>
  <% end %>
  